<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Form</title>
  <link rel="stylesheet" th:href="form.css"></link>
</head>
<body>
<div class="topnav">
  <a>Form</a>
  <a>Grades</a>
</div>
<div class="container">
  <h2> Grade Portal </h2>
  <form method="post">
    <label>
      <input type="text" placeholder="Name">
    </label>
    <label>
      <input type="text" placeholder="Subject">
    </label>
    <label>
      <input type="text" placeholder="Grade">
    </label>
    <br><br>
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>
