<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Form</title>
  <link rel="stylesheet" th:href="@{/form.css}" />
</head>
<body>
<div class="topnav">
  <a>Form</a>
  <a>Grades</a>
</div>
<div class="container">
  <h2> Grade Portal </h2>
  <form method="post" th:object="${grade}" th:action="@{/handleSubmit}">
    <label>
      <input type="text" placeholder="Name" th:field="*{name}">
    </label>
    <label>
      <input type="text" placeholder="Subject" th:field="*{subject}">
    </label>
    <label>
      <input type="text" placeholder="Grade" th:field="*{grade}">
    </label>
    <br><br>
    <input type="submit" value="Submit">
  </form>
</div>
</body>
</html>
