<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Grades</title>
  <link rel="stylesheet" th:href="@{/grades.css}">
</head>
<body>

<div class="topnav">
  <a>Form</a>
  <a>Grades</a>
</div>

<div class= "container">
  <h2> Grades </h2>
  <table id="table">
    <tr>
      <th>Student Name</th>
      <th>Subject</th>
      <th>Grade</th>
    </tr>
    <tr th:each="grade : ${grades}">
      <td th:text="*{grade.name}"></td>
      <td th:text="*{grade.subject}"></td>
      <td th:text="*{grade.grade}"></td>
      <td><a class="update" href="/update">Update</a></td>
    </tr>
  </table>
</div>

</body>
</html>
